<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COVID-19 CASES</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .table{
            text-align: center;
        }
        .jumbotron{
            font-size: 40px;
        }
    </style>

</head>

<body>
<div class="container">
    <h1>COVID-19 CASES </h1>
    <p>The current number of cases reported across the globe</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported</p>
        <hr class="my-4">
        <p>
            <span>New cases reported today:</span>
            <span th:text="${totalNewCases}"></span>
        </p>

    </div>

    <table class="table">
        <tr style="background-color: #00F279">
            <th>State</th>
            <th>Country</th>
            <th>Total cases</th>
            <th>New cases</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>
</body>

</html>